 /*css style*/
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
        font-family: 'Fredoka One', sans-serif;
        background-color: #fff;
        color: #333;
        transition: background-color 0.3s ease;
      }

    /* Top Navigation Bar */
    .top-nav {
      background-color: #ffd800;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .top-nav ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
      }
    .top-nav li {
        margin-right: 20px; 
        padding-right: 20px;
        border-right: 1px solid #333;
      }
      
      .top-nav li:last-child {
        border-right: none; 
      }
    .top-nav a {
      color: #333;
      text-decoration: none;
    }
    /*logo*/
    .logo img {
        max-width: 150px; 
        height: auto; 
      }
    /* Main Navigation Bar */
    .main-nav {
      background-color: #333;
      padding: 10px;
      display: flex;
      justify-content: center;
    }
    .main-nav ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
    .main-nav li {
      margin: 0 20px;
    }
    .main-nav a {
      color: #fff;
      text-decoration: none;
    }
     /* Contacts Section */
    .contacts {
      text-align: center;
      margin: 50px auto;
    }

    .contacts h2 {
      font-size: 24px;
      margin-bottom: 30px;
      margin-right: 10px;
    }

    .contact-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }

    .contact-item img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    .contact-item span {
      font-size: 18px;
      text-align: left;
    }